<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2019 Jiahua Zhang. Site modified from <a href="http://www.allanlab.org">Allan's Lab website</a>.</p>
            		  
            
		</div>
		<div class="col-sm-4">
		  
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  MMW 308, The Chinese University of Hong Kong<br />
		  N.T. Shatin<br />
		  Hong Kong, China<br />
            (<a href="https://www.google.nl/maps/place/Mong+Man+Wai+Building,+Central+Ave,+Ma+Liu+Shui/@22.4199989,114.2070499,17z/data=!4m13!1m7!3m6!1s0x3404089bfe52ba6d:0x834808d550a58462!2sMong+Man+Wai+Building,+Central+Ave,+Ma+Liu+Shui!3b1!8m2!3d22.419994!4d114.2092386!3m4!1s0x3404089bfe52ba6d:0x834808d550a58462!8m2!3d22.419994!4d114.2092386?hl=en">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
